# Data Structures

# List

Ordered, changeable, duplicates

In [1]:
L = [12,"banana",5.3]

In [2]:
L[1]

'banana'

In [3]:
L[2] = "orange"

In [4]:
L

[12, 'banana', 'orange']

In [ ]:
del L[1]

In [6]:
#del L deletes the list

In [7]:
L

[12, 'orange']

In [8]:
L2 = L.copy()

In [9]:
L2

[12, 'orange']

# Tuple

Ordered, unchangeable, duplicates

In [10]:
T = (12,"banana",5.3)

In [11]:
T[2]

5.3

T3 = T1+T2 #Immunatable

In [12]:
T2 = T
print(T2)

(12, 'banana', 5.3)

In [13]:
del T

# Set

Unordered, addable/removeable, no duplicates

In [14]:
S = {12,"banana,5.3"}

In [15]:
S.add("new item") #To add one element

In [16]:
S

{12, 'banana,5.3', 'new item'}

In [17]:
S.update({"more","items"}) #To add multiple elements

In [18]:
S

{12, 'banana,5.3', 'items', 'more', 'new item'}

In [19]:
S2=S.copy()

In [20]:
S

{12, 'banana,5.3', 'items', 'more', 'new item'}

In [21]:
del S

# Dictionary

Unordered, changeable, no duplicate

In [22]:
D = {"Val":12,"name":"Ban"}

In [23]:
D

{'Val': 12, 'name': 'Ban'}

In [24]:
D["Val"]

12

In [25]:
D2=D.copy()

In [26]:
del D["Val"]

# Practice

In [27]:
L = [1,3,4.9,"name",3]
T = (1,3,4.9,"name",3)
S = {1,3,4.9,"name",3}
D = {23:"twothree",'B':43,'C':'CCD'}

In [28]:
print("The type of L is",type(L))
print("The type of T is",type(T))
print("The type of S is",type(S))
print("The type of D is",type(D))

The type of L is <class 'list'>
The type of T is <class 'tuple'>
The type of S is <class 'set'>
The type of D is <class 'dict'>

In [29]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

3
3
True
twothree

In [30]:
print(D['B'])

43

In [31]:
S

{1, 3, 4.9, 'name'}

In [32]:
L

[1, 3, 4.9, 'name', 3]

In [33]:
L[1:3]

[3, 4.9]

In [34]:
L[::-1]

[3, 'name', 4.9, 3, 1]

In [35]:
T

(1, 3, 4.9, 'name', 3)

In [36]:
T[:3]

(1, 3, 4.9)

In [37]:
L

[1, 3, 4.9, 'name', 3]

In [38]:
L = L + ["how","are",6,"you"]

In [39]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you']

In [40]:
L.append(6.8)

In [41]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [42]:
T2 = ('a','b',45)
T3 = T+T2

In [43]:
T3

(1, 3, 4.9, 'name', 3, 'a', 'b', 45)

In [44]:
S

{1, 3, 4.9, 'name'}

In [45]:
S.add(47)

In [46]:
S

{1, 3, 4.9, 47, 'name'}

In [47]:
S.update({23,"game",1})

In [48]:
S

{1, 23, 3, 4.9, 47, 'game', 'name'}

In [49]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD'}

In [50]:
D['newkey'] = "newValue"

In [51]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newkey': 'newValue'}

In [52]:
D2 = {"y":"YY","z":10}

In [53]:
L

[1, 3, 4.9, 'name', 3, 'how', 'are', 6, 'you', 6.8]

In [54]:
del L[3]

In [55]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [56]:
S.remove('game')

In [57]:
S

{1, 23, 3, 4.9, 47, 'name'}

In [58]:
D

{23: 'twothree', 'B': 43, 'C': 'CCD', 'newkey': 'newValue'}

In [59]:
del D['B']

In [60]:
D

{23: 'twothree', 'C': 'CCD', 'newkey': 'newValue'}

We can't add 2 or more dictionaries together. What we can do is to update them. 

D = D + D2 is not possible

D.update(D2) is possible

In [61]:
L

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [62]:
L2 = L

In [63]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [64]:
L2[2] = "four_point_two"

In [65]:
L2

[1, 3, 'four_point_two', 3, 'how', 'are', 6, 'you', 6.8]

L2 and L shares same memory location. SO if we make any chanegs in the L2, it will be reflected in L1 as well. This is called referencing

If we can to change L2 without reflecting it in L1, use copy function

In [66]:
L

[1, 3, 'four_point_two', 3, 'how', 'are', 6, 'you', 6.8]

In [67]:
L2 = L.copy()

In [68]:
L2

[1, 3, 'four_point_two', 3, 'how', 'are', 6, 'you', 6.8]

In [69]:
L2[2] = 4.9

In [70]:
L2

[1, 3, 4.9, 3, 'how', 'are', 6, 'you', 6.8]

In [71]:
L

[1, 3, 'four_point_two', 3, 'how', 'are', 6, 'you', 6.8]

Copy function doesn't makes any sense in Tuple

In [72]:
L3 = L[1:5]

In [73]:
L3

[3, 'four_point_two', 3, 'how']

In [74]:
L3[0] = "three"

In [75]:
L

[1, 3, 'four_point_two', 3, 'how', 'are', 6, 'you', 6.8]

The changes made in L3 won't reflect in L1

Slicing picks a copy by default. It does not pick a reference. That's a huge difference between this list and Numpy array. In Numby array, the slicing refers to a memory location and that might be one difference in the indexing. Indexing in the whole python whenever you do slicing, you get a copy.  But in Numpy when you do slicing, you get a view, not a copy.

In [76]:
help(L.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [77]:
L.clear?

In [78]:
L.pop?

In [79]:
L.reverse?

In [80]:
L.reverse()

In [81]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'four_point_two', 3, 1]

In [82]:
L[: : -1]

[1, 3, 'four_point_two', 3, 'how', 'are', 6, 'you', 6.8]

In [83]:
D.items()

dict_items([(23, 'twothree'), ('C', 'CCD'), ('newkey', 'newValue')])

In [84]:
L

[6.8, 'you', 6, 'are', 'how', 3, 'four_point_two', 3, 1]

In [85]:
T

(1, 3, 4.9, 'name', 3)

In [86]:
S

{1, 23, 3, 4.9, 47, 'name'}

In [87]:
D

{23: 'twothree', 'C': 'CCD', 'newkey': 'newValue'}

In [88]:
D2 = {'A':L,'B':T,'C':S,'D':D}

In [89]:
D2

{'A': [6.8, 'you', 6, 'are', 'how', 3, 'four_point_two', 3, 1],
 'B': (1, 3, 4.9, 'name', 3),
 'C': {1, 23, 3, 4.9, 47, 'name'},
 'D': {23: 'twothree', 'C': 'CCD', 'newkey': 'newValue'}}

In [90]:
D2['A']

[6.8, 'you', 6, 'are', 'how', 3, 'four_point_two', 3, 1]

In [91]:
D2['A'][3]

'are'

In [92]:
K = D2['D']

In [93]:
K

{23: 'twothree', 'C': 'CCD', 'newkey': 'newValue'}

In [94]:
for x in K:
    print(x,K[x])

23 twothree
C CCD
newkey newValue

In [95]:
L3 = [L,T,D,23,"game"]

In [96]:
type(L3[2])

dict

In [97]:
L3 = [x**2 for x in range(10)]

In [98]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [99]:
S3 = {x**2 for x in range(2,20,3)}

In [100]:
S3

{4, 25, 64, 121, 196, 289}